/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.app-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  padding: 15px;
}

/* h2 {
  text-align: center;
} */

.container {
  margin: 36px auto;
  width: 100%;
  max-width: 800px;
}

.search-label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

input {
  padding: 16px;
  font-size: 1.2rem;
  font-style: italic;
  color: #444;
  outline: none;
  width: 100%;
}
